.onboarding {
  width: 100vw;
  height: 100vh;
  padding: 24px;
  display: flex;
}

/* Content (left side) section */
.onboarding__content {
  height: 100%;
  width: 45%;
  border-radius: 32px 0 0 32px;
  background:
    linear-gradient(150deg, #ecedee, transparent 30%),
    linear-gradient(330deg, rgb(210, 206, 242), transparent 30%),
    linear-gradient(225deg, #fbf0c9, #fbdce7, #e2fae1, powderblue);

  padding: 20% 96px;
}

.onboarding__title {
  font-family: inter;
  font-size: 48px;
  font-weight: 600;
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  .onboarding__title {
    color: var(--text-inverted);
  }
}

.onboarding__description {
  font-family: inter;
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
  color: var(--text-secondary);
  line-height: 1.8em;
  max-width: 640px;
}

/* Interaction (right side) section */
.onboarding__interaction {
  width: 55%;
  height: 100%;
  border-radius: 0 32px 32px 0;
  background-color: var(--bg-secondary);
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.onboarding-interaction__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--text-primary);
}

.onboarding-interaction__subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
  color: var(--text-secondary);
}

.onboarding-interaction__footer {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
  justify-content: space-between;
}

.onboarding-interaction__button-primary {
  padding: 16px 32px;
  border-radius: 8px;
  background-color: var(--accent);
  color: var(--text-inverted);
  cursor: pointer;
}

.onboarding-interaction__button-secondary {
  padding: 16px 32px;
  border-radius: 8px;
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
  cursor: pointer;
}

/* Welcome section */
.welcome-section__themes {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 70%;
}

.welcome-section__theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-primary);
  box-shadow: rgba(149, 157, 165, 0.074) 0px 8px 24px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bg-secondary);

  height: 33.33%;
}

.welcome-section__theme--active {
  background-color: var(--bg-primary);
}

.welcome-section__theme-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 48px;
}

.welcome-section__theme-title {
  font-size: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.welcome-section__theme-description {
  font-size: 16px;
  color: var(--text-secondary);
}

.welcome-section__theme-image {
  height: 100%;
}

/* Upload section */
.upload-section__instructions {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}

.upload-section__step {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--bg-secondary);
}

.upload-section__step-image {
  width: 100%;
}

.upload-section__step-description {
  height: 100%;
  padding: 16px;
  color: var(--text-secondary);
  background-color: var(--bg-primary);
}

.upload-section__input {
  all: unset;
  margin: 32px 16px 0 16px;
  border: 1px solid var(--border-primary);
  border-radius: 16px;
  padding: 16px;
  text-align: center;
}

/* Habits section */
.habits-section__habits {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 70%;
}

.habits-section__habit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-primary);
  box-shadow: rgba(149, 157, 165, 0.074) 0px 8px 24px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bg-secondary);

  height: 33.33%;
}

.habits-section__habit--active {
  background-color: var(--bg-primary);
}

.habits-section__habit-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 48px;
}

.habits-section__habit-title {
  font-size: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.habits-section__habit-description {
  font-size: 16px;
  color: var(--text-secondary);
}

.habits-section__habit-image {
  height: 100%;
}