.dashboard {
  display: grid;
  grid-gap: var(--space-200);
  padding: var(--space-200);
  background-color: var(--ds-surface-sunken);
  height: 100%;

  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-areas: 
    'taskList hoursFocused tasksCompleted averageProductivity '
    'taskList timetable timetable insights'
    'pomodoro pomodoro pomodoro pomodoro'
}

@media (max-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
      'hoursFocused tasksCompleted averageProductivity'
      'timetable timetable timetable'
      'taskList insights pomodoro'
      'taskList past-productivity-line-chart past-productivity-line-chart';
  }
}