.settings {
  padding: 48px;
  display: flex;
}

.settings__subpage {
  flex-grow: 1;
  padding: 0 64px;
}

.settings__navbar {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 180px;
}

.settings__navlink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-secondary);
  padding: 12px;
  width: 100%;
}

.settings__navlink--active {
  color: var(--text-primary);
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
}

.settings__subpage-title {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Common elements */

/* Toggle (switch) */
.settings-toggle {
  display: flex;
  align-items: center;
}

.settings-toggle__description {
  color: var(--text-secondary);
}

.settings-toggle__label {
  margin-left: auto;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.settings-toggle__input {
  display: none;
}

.settings-toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  transition: .2s;
  border-radius: 28px;
}

.settings-toggle__slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(244, 244, 244);
  transition: .2s;
  border-radius: 50%;
}

.settings-toggle__input:checked + .settings-toggle__slider {
  background-color: var(--accent)
}

.settings-toggle__input:checked + .settings-toggle__slider:before {
  transform: translateX(20px);
}

/* Dropdown */
.settings-dropdown {
  display: flex;
  align-items: center;
}

.settings-dropdown__description {
  color: var(--text-secondary);
}

.settings-dropdown__select {
  margin-left: auto;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.settings-dropdown__select:focus {
  outline: none;
}

* {
}