.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navbar {
  width: fit-content;
  padding: 15px;
  background-color: var(--widget-color);
  border-right: 2px solid var(--border-primary);
}

.navbar__app-icon {
  margin-bottom: 8rem;
}

.navbar__links-group {
  display: flex;
  flex-direction: column;
}

.navbar__link {
  color: var(--icon-primary);
  margin-bottom: 2rem;
}