/* Generic widget styles */
.widget {
  padding: 1.5rem;
  background-color: var(--bg-secondary);
  border-radius: 0.75rem;
  width: 100%;
  box-shadow: var(--shadow);
}

.widget-content {
  padding: 16px;
  height: calc(100% - 32px);
}

/* Header */
.widget-header {
  display: flex;
  align-items: center;
  height: 32px;
}

.widget-header__title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-primary);
}

/* Interaction button */
.widget__interaction-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  gap: 4px;
}

.widget__interaction-button:hover {
  cursor: pointer;
}