.tracking__content {
  display: flex;
  gap: 10%;
  padding: 0 var(--space-200);
  height: 100%;
}

.tracking__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--text-secondary);
  width: 100%;
}