.statistics {
  grid-column: span 2;
}

/* Bar chart */
.bar-chart {
  display: flex;
  flex-wrap: wrap;
}

.bar-chart__y-axis {
  display: flex;
  flex-direction: column-reverse;
  width: 32px;
}

.bar-chart__y-label {
  position: relative;
}

.bar-chart__y-label-text {
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translateY(50%);
}

.bar-chart__bars {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: auto;
  width: calc(100% - 32px);
}

.bar-chart__bar {
  background-color: var(--accent);
  width: 32px;
}

.bar-chart__x-axis {
  width: calc(100% - 32px);
  margin-left: 32px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.bar-chart__x-label {
  width: 32px;
  position: relative;
  text-align: center;
}

.bar-chart__x-label-text {
  font-size: 12px;
}
