.tasks-list {
  padding: 2rem;
  width: 50%;
}

.tasks-list__title {
  font-weight: 500;
}

.tasks-list__subtitle {
  color: var(--text-secondary);
}

.tasks-list__list {
  list-style-type: none;
}

.tasks-list__task-item {
  padding: 1rem 0 0 0.5rem;
}

.tasks-list__task-status {
  border: none;
  border-radius: 100%;
  height: 12px;
  width: 12px;
}

.tasks-list__task-status--pending {
  background-color: #fc5753;
}

.tasks-list__task-status--in-progress {
  background-color: #fdbc40;
}

.tasks-list__task-status--completed {
  background-color: #36c84b;
}

.tasks-list__task-content {
  display: inline;
  margin-left: 15px;
}

.tasks-list__delete-task {
  float: right;
  background-color: transparent;
  border: none;
  color: var(--icon-primary);
}

.tasks-list__input-task {
  color: var(--text-primary);
}