.timetable {
  grid-row: span 2;
}

.timetable__upload {
  background-color: transparent;
  border: none;
  color: var(--icon-primary);
}

.timetable__timetable {
  position: relative;
  margin: 2rem 0.5rem 1rem 0.5rem;
  display: flex;
  padding: 1rem 0;
  overflow-y: hidden;
  height: calc(100% - 5rem)
}

.timetable__hours {
  align-items: end;
  color: var(--icon-primary);
  font-size: small;
  width: fit-content;
  position: relative;
  width: 20%;

  time {
    position: absolute;
    transform: translateY(-50%);
  }
}

.timetable__slots {
  width: 80%;
  position: relative;
}

.timetable__slot {
  position: absolute;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: green;
}

.timetable__current-time-indicator {
  position: absolute;
  display: flex;
  width: 100%;

  time {
    font-size: small;
    width: 20%;
    transform: translateY(-50%);
  }
}

.timetable__current-time-line {
  border: 1.5px solid purple;
  height: 0;
  width: 80%;
}


















