.timetable {
  padding: 2rem 0;
}

.timetable__upload {
  background-color: transparent;
  border: none;
  color: var(--icon-primary);
}

.timetable__hours {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: end;
  color: var(--icon-primary);
  font-size: small;
  width: fit-content;
}

.timetable__slots {
  display: flex;
  flex-direction: column;
}






















