/* Countdown timer (https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/) */
.timer {
  position: relative;
  width: 80%;
}

.timer__svg {
  width: 100%;
}

.timer__circle {
  fill: none;
  stroke: none;
}

.timer__pathElapsed {
  stroke-width: var(--space-100);
  stroke: var(--boder-input);
}

.timer__label {
  position: absolute;
  top: var(--space-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.timer__state {
  color: var(--text-secondary);
}

.timer__pathRemaining {
  stroke-width: var(--space-100);
  stroke-linecap: round;
  stroke: var(--background-brand);
  transform: rotate(90deg);
  transform-origin: center;
}
