.eventQueue {
  background-color: var(--surface);
  padding: var(--space-200);
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow-y: hidden;
  flex-grow: 1;
}

.eventQueue__list {
  padding: var(--space-200) 0;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  gap: var(--space-200);
  overflow-y: auto;
  height: 100%;
}

.event {
  padding-left: var(--space-200);
}

.event__subtitle {
  color: var(--text-secondary);
}
