.card {
  flex-grow: 1;
  padding: var(--space-400);
}

.card__trend {
  display: flex;
  gap: var(--space-100);
}

.card__trendUp {
  color: var(--text-success);
}

.card__trendDown {
  color: var(--text-danger);
}

.card__subtitle {
  color: var(--text-secondary);
  display: flex;
  gap: var(--space-100);
}