.controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  width: 100%;
}

.controls__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls__settings {
  cursor: pointer;
  color: var(--icon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__settings:hover {
  color: var(--icon-hovered);
}

.controls__settings:active {
  color: var(--icon-pressed);
}

.controls__notification {
  display: flex;
  align-items: center;
  gap: var(--space-100);
  color: var(--text-secondary);
  cursor: pointer;
}

.controls__notification:hover {
  color: var(--text-secondary-hovered);
}

.controls__notification:active {
  color: var(--text-secondary-pressed);
}

.controls__buttons {
  display: flex;
  flex-direction: row;
  gap: var(--space-100);
  flex-wrap: wrap;
}

.controls__play {
  width: 100%;
}

.controls__buttonSecondary {
  flex: 1;
}