.dashboard {
  width: 100%;
}

.dashboard__banner {
  padding: 30px;
  background-color: var(--widget-color);
  border-bottom: 2px solid var(--border-primary);
}

.dashboard__date {
  font-size: larger;
  font-weight: 500;
}

.dashboard__grid {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Universal widget styles */
.widget {
  background-color: var(--widget-color);
  border-radius: 10px;
  padding: 1.5rem;

  h2 {
    font-weight: 550;
  }
}