.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__banner {
  padding: 30px;
  background-color: var(--bg-secondary);
  width: 100%;
  border-radius: 15px;
  margin: 15px;
  font-size: larger;
}

.dashboard__date {
  color: var(--text-secondary);
}

.dashboard__content {
  width: 100%;
}